

       <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="new-prod-card">
          <div class="item-img">
            <img src="" alt="">
          </div>
          <div class="item-info">
            <div class="item-name">
              Название модели
            </div>
            <div class="item-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            </div>
            <div class="item-price">
              <span>1 500 &#8381</span>
              <a href="#">Подробнее</a>
            </div>
          </div>
        </div>
      </div>